<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>{% block Title_Block %}{% endblock %}</title>
</head>
<body>

    <nav class = "navbar nav-default navbar-static-top navbar-inverse">

         <div class="container">


          <ul class="nav navbar-nav">

            <li><a class="navbar-brand" href="{% url 'index' %}">Home</a></li>
            <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
            <li><a class="navbar-link" href="{% url 'User:register' %}">Register</a></li>
            <li><a class="navbar-link" href="{% url 'User:login' %}">Login</a></li>

          </ul>


         </div>

    </nav>
    <div class="container" style="width:70%">
        {% block Body_Block %}
        {% endblock %}
    </div>
</body>
</html>